
  /*----------------Barra Lateral*/
  .barra-lateral {
    transition:
      width 0.5s ease,
      background-color 0.3s ease,
      left 0.5s ease;
  }

  .mini-barra-lateral {
    width: 80px;
  }
  .barra-lateral span {
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition:
      opacity 0.5s ease,
      width 0.5s ease;
  }
  .barra-lateral span.oculto {
    opacity: 0;
    display: naone;
  }
  .inbox {
   box-shadow: -10px -10px 30px 4px rgba(2, 2, 2, 0.1), 10px 10px 30px 4px rgba(23, 57, 250, 0.15);
  }

  /*--------------> Menu Navegación*/

  .barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
  }
  .barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: #4c8bf0;
    border-radius: 5px;
  }
  .barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: #2f77ea;
  }

  .barra-lateral .modo-oscuro .circulo {
    transition: left 0.5s ease;
  }
  .barra-lateral .modo-oscuro .circulo.prendido {
    left: 15px;
  }

  main {
    transition: margin-left 0.5s ease;
  }
  main.min-main {
    margin-left: 90px;
  }

  @media (max-width: 600px) {
    .max-barra-lateral {
      left: 0;
    }

    .menu ion-icon:nth-child(2) {
      display: none;
    }

    main.min-main {
      margin-left: 0;
    }
  }
