<a
(click)="show()"
  class="card_employee"
>
  <div class="content">
    <div class="header">
      <img src="{{ photo }}"  alt="" />
      <div>
        @if(employee.estado){
        <p
          class="activo"
        >
          Activo
        </p>
        }@else {
        <p
          class="inactivo"
        >
          Inactivo
        </p>
        }

        <p class="status">Estatus del empleado</p>
      </div>
    </div>

    <div class="hours">
      <img
        src="icons/calendar.png"
        class=""
        alt=""
      />
      <div>
        <p class="time">
          {{ hoursWorked }} hrs
        </p>
        <p class="time_placeholder">Horas trabajadas en la semana</p>
      </div>
    </div>
  </div>

  <div class="info">
    <h2 class="name">
      {{ employee.nombre + " " + employee.apellido }}
    </h2>
    <p class="direction">
      {{ employee.fecha_Nacimiento }} - {{ employee.direccion }} -
      {{ employee.email }} - {{ employee.telefono }}
    </p>
  </div>

  <div class="footer">
    <div class="departament">
      <img
        src="icons/briefcase.png"
        alt=""
      />
      <div>
        <p class="name">
          {{ departament.nombreDepartamento }}
        </p>
        <p class="name_placeholder">Departamento</p>
      </div>
    </div>

    <div class="time_service">
      <img
        src="icons/watch.png"
        alt=""
      />
      <div>
        <p class="time">
          {{ timeServide }} yrs
        </p>
        <p class="time_placeholder">Tiempo de servicio</p>
      </div>
    </div>
  </div>
</a>


  

