<div class="dark:bg-slate-700 container">
  <div class="header">
    <div class="data">
      <img [src]="employee.imagen" alt="" />
      <div>
        <p class="name">{{ employee.nombre }} {{ employee.apellido }}</p>
        <p class="name_placeholder">Nombre del empleado</p>
      </div>
    </div>
    @if(employee.estado){
    <p
      class="active"
    >
      Activo
    </p>
    }@else {
    <p
      class="inactive"
    >
      Inactivo
    </p>
    }
  </div>

  <p class="title_sesion">Contacto</p>

  <div class="contact">
    <div
      class="ubication"
    >
      <img src="icons/ubication.png"  alt="" />
      <p>{{ employee.direccion }}</p>
    </div>
    <div
      class="email"
    >
      <img src="icons/email.png"  alt="" />
      <p>{{ employee.email }}</p>
    </div>
    <div
      class="phone"
    >
      <img src="icons/phone.png" alt="" />
      <p>{{ employee.telefono }}</p>
    </div>
  </div>

  <p class="title_sesion">Informacion</p>

  <div class="info">
    <div
      class="info_item"
    >
      <img
        src="icons/calendar.png"
        alt=""
      />
      <div>
        <p class="title_item">{{ hoursWorked }} hrs</p>
        <p class="placeholder">Horas Trabajadas Semana</p>
      </div>
    </div>
    <div
      class="info_item"
    >
      <img
        src="icons/watch.png"
        alt=""
      />
      <div>
        <p class="title_item">{{ timeServide }} years</p>
        <p class="placeholder">Tiempo Servicio</p>
      </div>
    </div>
    <div
      class="info_item"
    >
      <img
        src="icons/test_performance.png"
        alt=""
      />
      <div>
        <p class="title_item">6.4</p>
        <p class="placeholder">Evaluacion de desempeño</p>
      </div>
    </div>
    <div
      class="info_item"
    >
      <img
        src="icons/briefcase.png"
        alt=""
      />
      <div>
        <p class="title_item">{{ departament.nombreDepartamento }}</p>
        <p class="placeholder">Departamento</p>
      </div>
    </div>
  </div>

  <p class="title_sesion">Estado</p>

  <div class="sesion_state">

   <div class="states_items">
      <!-- Vacaciones -->
    <p
      class="state"
      [ngClass]="{
        'active': employee.vacaciones,
        'inactive': !employee.vacaciones
      }"
    >
      Vacaciones
    </p>

    <!-- Licencia -->
    <p
      class="state"
      [ngClass]="{
        'active': employee.licencia,
        'inactive': !employee.licencia
      }"
    >
      Licencia
    </p>
   </div>
   <p-speedDial 
            [model]="items?items:[]" 
            radius="120" 
            direction="up-left" 
            type="quarter-circle" 
            buttonClassName="p-button-success" />
    
  </div>
</div>
