<div class="search_container">
  <h2 class="title_search">
    Resultados busqueda:
    <span class="search_term">{{ searchTerm }}</span>
  </h2>

  <div class="container_results">
    <div class="sesion_filters">
      <h3 class="title_filters">
        Filtros
      </h3>
      <div class="container_filters ">
        <div class="container_departament_filter">
         <form [formGroup]="departamentForm" (ngSubmit)="filterDepartament()" class="form_departament_filter ">
            <label
               for="countries"
               class="label_departament_select"
               >Departamento</label
             >
            <div class="container_select_filter_departament">
               
              <p-multiSelect 
              [options]="departamentsFilterOptions" 
              optionLabel="nombreDepartamento" 
              placeholder="Sel. Departamento" 
              formControlName="departament"
              class="mr-1"/>

              
              <p-button type="submit" icon="pi pi-search" />
            </div>
             
           </form>
        </div>

        <span
          class="opcion_filter"
          >Activo</span
        >
        <span
          class="opcion_filter"
          >Inactivo</span
        >
        <span
          class="opcion_filter"
          >Vacaciones</span
        >
        <span
          class="opcion_filter"
          >Licencia</span
        >
        <span
          class="opcion_filter"
          >Desempeño</span
        >
      </div>
    </div>
    <!-- Resultados busqueda -->
    <div class="results">

      @if(results.length != 0) {
        @for (result of results; track result.id_Empleado) {
      <app-employee-card [employee]="result" />
      
      }}@else {
      <div class="flex w-full items-center justify-center flex-col">
        <img
          src="icons/empty.png"
          alt="No hay empleados"
          class="w-1/4"
        />
        <h2 class="text-xl text-blue-500 dark:text-green-400">
          No hay resultados
        </h2>
        </div>
      }

      
    </div>
  </div>
</div>
