<div class="px-6 md:px-8 pb-6 md:pb-8">
  <form
    [formGroup]="formNewDepartament"
    (ngSubmit)="createDepartament()"
    class="space-y-6"
  >
    <div class="grid grid-cols-1 gap-6">
      <div class="col-span-1 flex flex-col gap-2">
        <label for="username">Nombre Departamento</label>
        <input
          pInputText
          id="username"
          formControlName="nombreDepartament"
          aria-describedby="username-help"
        />
        <small id="username-help">
          Ingrese un nombre unico para el departamento.
        </small>
      </div>
      <div class="col-span-1 flex flex-col gap-2">
        <label for="descripcion">Descripcion</label>
        <textarea rows="5" cols="30" pInputTextarea 
    [autoResize]="true" formControlName="descripcion">
        </textarea>
        <small id="username-help">
          Edite la descripcion del departamento.
        </small>
      </div>
    </div>
    <div class="flex flex-row justify-end gap-4 mt-4">
      <button
        type="button"
        pButton
        (click)="onCancel()"
        label="Cancelar"
        class="p-button-outlined p-button-danger mt-3"
      ></button>
      <button
        type="submit"
        pButton
        label="Crear"
        class="p-button mt-3"
      ></button>
    </div>
  </form>
</div>
