
/* Contenedor de la barra de navegación */
.contenedor-navbar {
   display: flex;
  
   background-color: #ffffff; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
   padding: 0.75rem; 
   border-radius: 0.5rem; 
   height: 4rem; 
   flex-direction: row; 
   justify-content: space-between; 
   align-items: center; 
   z-index: 10;
 }
 
 @media (min-width: 640px) {
   .contenedor-navbar {
     /* margin-left: 1rem; */
   }
 }
 
 .dark-mode .contenedor-navbar {
   background-color: #1f2937; 
 }
 
/* Titulo */
.title_navbar {
   color: #3182ce; 
   font-size: 1.5rem; 
   font-weight: 600; 
   display: none;
 }
 
 @media (min-width: 640px) {
   .title_navbar {
     font-size: 1.875rem;
     display: block;
     color: #3182ce; 
   }
 }
 
 .dark-mode .title_navbar {
   color: #3182ce; 
 }

 .formulario_busqueda {
   display: flex; 
   align-items: center; 
   max-width: 20rem; 
   margin-left: auto; 
   margin-right: auto; 
 }
 
.container_input_search {
   position: relative;
   width: 100%; 
}
 

.logo_input{
   width: 16px;
   height: 16px;
}


.input_search {
   background-color: #f3f4f6; 
   border: 1px solid #d1d5db; 
   color: #374151; 
   font-size: 0.875rem; 
   border-radius: 0.375rem; 
   outline: none;
   padding-left: 2.5rem; 
   padding: 0.625rem; 
   display: block; 
   width: 100%;
 }
 
 .input_search:focus {
   border-color: #3b82f6; 
 }
 
 .dark-mode .input_search {
   background-color: #374151; 
   border-color: #4b5563; 
   color: #d1d5db;
 }
 
 .dark-mode .input_search::placeholder {
   color: #6b7280; 
 }
 

 .button_search {
   padding: 0.625rem; 
   margin-left: 0.5rem; 
   font-size: 0.875rem; 
   font-weight: 500; 
   color: #ffffff; 
   background-color: #3b82f6; 
   border: 1px solid #3b82f6; 
   border-radius: 0.375rem; 
   cursor: pointer;
   outline: none; 
 }
 
 .button_search:hover {
   background-color: #1e40af;
   border-color: #1e40af; 
 }
 
 .button_search:focus {
   background-color: #93c5fd; 
   border-color: #93c5fd; 
 }
 
 .dark-mode .button_search {
   background-color: #2563eb; 
   border-color: #2563eb; 
 }
 
 .dark-mode .button_search:hover {
   background-color: #1d4ed8; 
   border-color: #1d4ed8; 
 }
 
 .dark-mode .button_search:focus {
   background-color: #6ee7b7; 
   border-color: #6ee7b7;
 }
 
 .sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
 }

 .options_navbar{
  display: flex;
  gap: 2px;
 }