/*  {
 
   border-radius: 0.375rem; 
   min-height: 24rem; 
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 } */


  .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

  .header .title {
   padding: 0.5rem;
   font-size: 1.5rem;
   font-weight: 600;
   color: #3182ce;
 }
 
 @media (min-width: 640px) {
   .header .title {
     font-size: 1.875rem; /* Equivalente a sm:text-3xl en Tailwind */
   }
 }

  .title_departament {
   color: #a0aec0;
   padding: 0.75rem;
   font-size: 1.125rem;
   font-weight: 600;
   line-height: 1.25rem;
 }

  .title_departament span {
   color: #1ecc89;
 }
 
 @media (min-width: 640px) {
  .title_departament {
     font-size: 1.5rem; /* Equivalente a sm:text-2xl en Tailwind */
   }
 }



 
 @media (min-width: 640px) {
   .content {
     gap: 1.5rem; /* Equivalente a sm:gap-6 en Tailwind */
   }
 }
 

 .empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
 }

  .empty img {
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
  }

  .empty h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3182ce;
  }

 
 

 
 