<div class="contenedor-not-found">
  <div class="card-not-found">
    <h2 class="text-7xl sm:text-[150px] text-blue-600 my-4">404</h2>
    <h4 class="text-white text-3xl sm:text-5xl">Pagina no encontrada</h4>
    <p class="text-slate-500 text-xl sm:text-3xl text-center px-4 sm:px-0">
      Lo sentimos, no podemos encontrar esa página. Encontrarás mucho para
      explorar en la página de inicio.
    </p>
    <div class="card flex justify-content-center flex-wrap gap-3">
      <p-button routerLink="/auth" label="Regresar" icon="pi pi-arrow-left" />
    </div>
  </div>
</div>
