 <!-- Modal body -->
 <form [formGroup]="formNewEmployee" (ngSubmit)="createEmployee()" class="p-4 md:p-5">
  <div class="grid gap-4 mb-4 grid-cols-2">
    <div class="col-span-2 flex flex-col gap-2" >
      <label for="name">Nombre </label>
      <input
        pInputText
        id="name"
        formControlName="nombre"
        aria-describedby="name-help"
      />
     
    </div>
    <div class="col-span-2 flex flex-col gap-2" >
      <label for="last_name">Apellidos </label>
      <input
        pInputText
        id="last_name"
        formControlName="apellido"
        aria-describedby="last_name-help"
      />
     
    </div>
    <div class="col-span-2 sm:col-span-1 flex flex-col gap-2" (click)="onDateClick($event)">
      <label for="salary">Salario </label>
      <p-inputNumber 
      formControlName="salario" 
      inputId="locale-us" 
      mode="decimal" 
      locale="en-CO" 
      [minFractionDigits]="0" /> 
    </div>
    <div class="col-span-2 sm:col-span-1 flex flex-col gap-2" (click)="onDateClick($event)">
      <label for="salary">Departamento </label>
      <p-multiSelect 
        [options]="departaments" 
        optionLabel="nombreDepartamento" 
        formControlName="departamento"
        [selectionLimit]="1"
        styleClass="w-full"/>
    </div>

    <div class="col-span-2 flex flex-col gap-2" (click)="onDateClick($event)">
      <label for="email">Correo Electronico</label>
      <input
        pInputText
        id="email"
        formControlName="email"
        aria-describedby="email-help"
      />
    </div>

    <div class="col-span-2 sm:col-span-1 flex flex-col gap-2" (click)="onDateClick($event)">
      <label for="phone">Telefono</label>
      <input
        pInputText
        id="phone"
        formControlName="telefono"
        aria-describedby="phone-help"
      />
    </div>
    <div class="col-span-2 sm:col-span-1 flex flex-col gap-2" >
      <label for="puesto">Puesto</label>
      
      <input
      pInputText
      id="puesto"
      formControlName="puesto"
      aria-describedby="puesto-help"
    />
    </div>


    <div class="col-span-2  flex flex-col gap-2">
      <label for="date_start">Fecha Nacimiento</label>
      <p-calendar formControlName="fecha_Nacimiento" dateFormat="yy-mm-dd"  styleClass="w-full"/>
    </div>
    <div class="col-span-2 flex flex-col gap-2" (click)="onDateClick($event)">
      <label for="direction">Direccion</label>
      <input
        pInputText
        id="direction"
        formControlName="direccion"
        aria-describedby="direction-help"/>
    </div>
    
    <div class="col-span-2 flex flex-col gap-2" >
      <label for="date_contratation">Fecha Contratacion</label>
      <p-calendar formControlName="fecha_Contratacion" dateFormat="yy-mm-dd"  styleClass="w-full"/>
    </div>

    <div class="col-span-2 flex flex-col gap-2">
      <label for="image">Imagen Empleado</label>
      <input
        pInputText
        id="image"
        formControlName="imagen"
        aria-describedby="image-help"
        (input)="onImageUrlChange()"/>

        @if(imagePreview){
      <div class="w-full flex items-center flex-col gap-2 justify-center">
      <label for="">Preview foto</label>
      <img [src]="imagePreview" class="sm:w-60 sm:h-60 sm:rounded-xl object-cover w-10 rounded-lg h-10" alt="">
    </div>
    }
    </div>

    
    
  </div>
  <div class="flex flex-row justify-end gap-4 mt-4">
    <button
      type="button"
      pButton
      (click)="onCancelCreate()"
      label="Cancelar"
      class="p-button-outlined p-button-danger mt-3"
    ></button>
    <button
      type="submit"
      pButton
      label="Crear"
      class="p-button mt-3"
    ></button>
  </div>
</form>
